html,
body {
    min-width: 250px;
    min-height: 200px;
    background-color: rgb(84, 33, 141);
    color: white;
}


#bsg-popup-content {
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding: 16px;
}


input {
    width: 90%;
    border-radius: 8px;
    border: none;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgb(142, 93, 197);
    color: rgb(41, 14, 64);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input::placeholder {
    color: rgba(41, 14, 64, 0.6);
}


button {
    width: 90%;
    background-color: rgb(142, 93, 197);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: rgb(142, 93, 197, 0.8);
}

label {
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}